.about {
    width: 70%;
    color: #FAF9F6;
    // display: flex;
    // justify-content: center;

}

.about-header {
    color: #F5AFBB;
    font-size: 3em;
    font-weight: bolder;
    // display: flex;
    // justify-content: center;
}