nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
    margin-top: 2%;
}

.navlink {
    margin: 2%;
    color: #FAF9F6;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.logo {
    width: 45%;
    height: 100%;
}

.menu {
    display: flex;
    margin-right: 17%;
}

li {
    margin: 6%
}

ol {
    font-size: x-large;
    color: #F5AFBB;
}

a.active {
  border-bottom: 4px solid #F5AFBB;
  padding: 5%;
}
